.l-
  &container
    height: 100vh
    background-image: url(https://lolstatic-a.akamaihd.net/lolkit/1.1.6/resources/images/bg-default.jpg)
    background-attachment: fixed
  &wrap
    background-color: rgba(0, 0, 0, .5)
    height: 100%
    overflow-y: auto
    padding: 2rem
  